node_modules/
.expo/
dist/
.expo-shared/
.vscode
src/firebase/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
google-services.json
GoogleService-info.plist

# macOS
.DS_Store
