<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>550219622725-31fpb58rr3f9qi8srse8m8gjigpm0ku0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.550219622725-31fpb58rr3f9qi8srse8m8gjigpm0ku0</string>
	<key>API_KEY</key>
	<string>AIzaSyAFjOKBRQIJay7EX2KKv6iv0O7rNlKrZBM</string>
	<key>GCM_SENDER_ID</key>
	<string>550219622725</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reactnativefirebase</string>
	<key>PROJECT_ID</key>
	<string>farmly-c97b1</string>
	<key>STORAGE_BUCKET</key>
	<string>farmly-c97b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:550219622725:ios:422526afc09d8a7c46b62c</string>
	<key>DATABASE_URL</key>
	<string>https://farmly-c97b1-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>